# leadnews-admin generated assets
leadnews-admin/dist/static/

# leadnews-app local/build artifacts
leadnews-app/.idea/
leadnews-app/dist/
leadnews-app/node_modules/
leadnews-app/platforms/android/app/src/main/assets/dist/
leadnews-app/platforms/android/bundlejs/
