# leadnews-admin generated assets
leadnews-admin/dist/

# leadnews-app local/build artifacts
leadnews-app/.idea/
leadnews-app/dist/
leadnews-app/node_modules/
leadnews-app/platforms/android/app/src/main/assets/dist/
leadnews-app/platforms/android/bundlejs/

# leadnews-wemedia generated assets
leadnews-wemedia/dist/
