// base color
$blue:#1890ff;
$light-blue:#69c0ff;
$red:#ff4d4f;
$pink: #ffadd2;
$green: #52c41a;
$tiffany: #13c2c2;
$yellow:#fadb14;
$panGreen: #52c41a;

// Sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #263445;
$menuText: #bfcbd9;
$menuActiveText: #409EFF;

$sideBarWidth: 210px;

// Custom
$mainBg: #f0f2f5;
$primary: #1890ff;
