# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
platforms/android/bundlejs/
platforms/ios/build/
dist/
build/
platforms/android/app/src/main/assets/dist/
node_modules/


